[submodule "aima-python"]
	path = aima-python
	url = https://github.com/aimacode/aima-python.git
[submodule "aima-data"]
	path = aima-data
	url = https://github.com/aimacode/aima-data.git
[submodule "Axelrod"]
	path = Axelrod
	url = https://github.com/Axelrod-Python/Axelrod.git
[submodule "python-constraint"]
	path = python-constraint
	url = https://github.com/python-constraint/python-constraint.git
